@model IEnumerable<E_Okul.Entity.Concretes.Branches>

@{
    ViewData["Title"] = "List";
}

<h1>Ders Listesi</h1>

<a asp-action="Add" class="btn btn-primary">Yeni ders ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Ders Adı</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>@item.BranchName</td>
                <td>
                    <a asp-controller="Branch" asp-action="Update" asp-route-id="@item.Id" class="btn btn-success">Güncelle</a>
                    <a asp-controller="Branch" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                    <a asp-controller="Branch" asp-action="Detail" asp-route-id="@item.Id" class="btn btn-info">Detay</a>
                </td>
        </tr>
}
    </tbody>
</table>
